@font-face {
    font-family: JudasPriest;
    src: url('../css/JudasPriest win.ttf');
}

body {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif font-size: 120%;
    /*text-shadow: 0.1em 0.1em 0.1em #000000;*/
    line-height: 1.5em;
}

.logo {
    font-family: JudasPriest;
    color: tomato;
    font-size: 3em;
}

header, main {
    width: 1140px;
    margin: auto;
}

header {
    padding-top: 1.5em;
    padding-bottom: 1em;
}

h2 {
    color: blue;
    font-size: 1.5em;
    font-weight: bold;
}

#tabela-carrinho {
    width: 100%;
}

    #tabela-carrinho th td {
        padding: 0.5em;
        border-bottom: #ff6a00 1px dotted;
        font-size;
    }

    #tabela-carrinho th {
        font-size: 1em;
        font-weight: 500;
        text-align: left;
    }

    #tabela-carrinho td {
        display: table-cell;
        vertical-align: middle;
    }

.coluna-pequena {
    width: 8em;
}

.nome-artista {
    font-size: 1.2em;
    color: black;
    text-decoration: none;
}
    
.nome-produto {
    font-size: 1.2em;
    text-decoration: none;
    color: black;
}

.preco-produto, #total {
    color: #ff0000;
    font-weight: 500;
}

.quantidade {
    text-align: center;
    color: blue;
}

.remover-carrinho {
    font-size: 0.8em;
}

.capa {
    height: 7.5em;
}

.coluna-cap td {
    width: 1em;
    padding-left:0;
}

.precisa-troco {
    font-weight: 500;
    font-size: 0.9em;
}

.strong {
    font-weight: 900;
}

.texto-total {
    text-align: right;
}
